@import url('https://fonts.googleapis.com/css?family=Muli');


@font-face {
    font-family: "Manic Depressive";
    src: url("../fonts/manic_depressive/manic-depressive-webfont.woff2");
}

@font-face {
    font-family: "Strange Rituals";
    src: url("../fonts/strange_rituals/strange_rituals-webfont.woff2");
}

body {
    background-image: url("../images/page_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pageLayout {
    width: 100vw;
    height: 100vh;
    display: grid;
    font-family: 'Muli', sans-serif;
    font-size: 1.25em;
    grid-template-rows: auto 30px;
}

.pageFooter {
    font-size: 10px;
    text-align: center;
}

h3 {
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
}